{% load static %}

<footer class="bg-white border-t">

  <div class="max-w-7xl mx-auto px-4 py-6">

    <!-- Links -->
    <div class="flex flex-wrap justify-between items-center gap-4 text-sm text-gray-600">

      <div class="flex gap-6 font-semibold text-gray-800 text-md">
        <a href="#">Privacy policy</a>
        <a href="#">Terms of Service</a>
        <a href="#">Contact Support</a>
      </div>

      <!-- Right icons -->
     <div class="flex gap-4 items-center text-center">

    <img src="{% static 'images/briefcase.png' %}" class="h-6 opacity-70 hover:opacity-100 cursor-pointer">
    <img src="{% static 'images/camera.png' %}" class="h-6 opacity-70 hover:opacity-100 cursor-pointer">
    <img src="{% static 'images/bot.png' %}" class="h-6 opacity-70 hover:opacity-100 cursor-pointer">

</div>

    </div>

    <!-- Bottom -->
    <div class="mt-6 flex justify-between text-md text-gray-800 font-semibold">
      <p>© 2025 Resume AI. All rights reserved.</p>
      <p>System operator</p>
    </div>

  </div>

</footer>