{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

<h2 class="text-lg font-semibold mb-4">Resume</h2>

<!-- Banner -->
<div class="bg-gradient-to-r from-[#7fb3d5] to-[#5dade2] text-white p-5 rounded-lg flex justify-between items-center mb-6">

    <div>
        <div class="font-semibold">Create Your Resume in 5 min</div>
        <p class="text-sm opacity-90">
            Choose between simple, basic, professional or Creative Free Resume Templates
        </p>
    </div>

    <img src="{% static 'images/arrow.png' %}" class="w-8">
</div>


<!-- Cards -->
<div class="grid md:grid-cols-2 gap-6">

    <!-- Left -->
    <div class="bg-gradient-to-r from-[#7fb3d5] to-[#5dade2] text-white p-6 rounded-lg">

        <p class="text-sm mb-4">
            PRO TIPS: It's important to create a custom resume tailored to each job application to increase your chances of success!
        </p>

        <button class="bg-blue-500 px-5 py-2 rounded-full text-sm">
            Resume Editing Services
        </button>

    </div>

    <!-- Right -->
    <div class="bg-white border border-gray-200 rounded-lg flex flex-col justify-center items-center p-10 cursor-pointer hover:shadow">

        <img src="{% static 'images/plus.png' %}" class="w-10 mb-2">
        <span class="text-sm font-medium">Create New Resume</span>

    </div>

</div>

{% endblock %}